<div ng-controller="ContactsCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Contact Manager</h1>
  </div>

  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">

        <div class="row">

          <div class="btn-group pull-right col-xs-12 col-md-4">

            <div class="btn-group dropdown pull-right">
              <button type="button" class="btn btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-plus"></i>
              </button>
              <ul class="dropdown-menu keep_open pull-right">
                <li style="width: 300px">
                  <form class="form-inline">
                    <div class="form-group">
                      <input id="new_bookmark_name" type="text"
                             class="form-control" style="width: 230px; margin-left: 5px"
                             placeholder="Save new bookmark as..."/>
                      <button type="submit" class="btn btn-info" style="margin-left: 2px">Save</button>
                    </div>
                  </form>

                </li>
              </ul>
            </div>

            <div class="btn-group dropdown pull-right">
              <button type="button" class="btn btn-default" dropdown-toggle=""
                      aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-bookmark"></i>
                Bookmarks
              </button>
              <ul class="dropdown-menu">
                <li><a href="">Bookmark One</a></li>
                <li><a href="">Bookmark Two</a></li>
                <li><a href="">Bookmark Three</a></li>
              </ul>
            </div>

          </div>


          <div class="col-xs-12 col-md-8">

            <div class="row">
              <div class="col-xs-12">
                <div class="font-thin h3">
                  <i class="icon-list"></i>&nbsp;
                  Filters
                </div>
              </div>
            </div>

            <!-- A FILTER -->
            <div class="row">
              <div class="col-xs-12">
                <form style="margin: 10px 0" class="form-inline">
                  <div class="row">
                    <div class="col-xs-12 text-nowrap">
                      <div class="btn-group dropdown">
                        <button type="button" class="btn btn-default" dropdown-toggle=""
                                aria-haspopup="true" aria-expanded="false">
                          Select a Property
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="">Bookmark One</a></li>
                          <li><a href="">Bookmark Two</a></li>
                          <li><a href="">Bookmark Three</a></li>
                        </ul>
                      </div>
                      <div class="btn-group dropdown">
                        <button type="button" class="btn btn-default" dropdown-toggle=""
                                aria-haspopup="true" aria-expanded="false">
                          equal to
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="">equal to</a></li>
                          <li><a href="">greater than</a></li>
                          <li><a href="">less than</a></li>
                        </ul>
                      </div>
                      <input class="form-control" style="display:inline; width: auto" type="text"/>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- END A FILTER -->

            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-info">
                  <i class="glyphicon glyphicon-plus"></i>&nbsp;
                  Add Filter</button>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="panel-body b-b b-light">
        Text Filter:&nbsp;&nbsp; <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
      </div>
      <div>
        <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="10">
          <thead>
          <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Type</th>
            <th>Rank</th>
            <th>Source</th>
            <th>Created</th>
            <th data-hide="all"></th> <!-- USER DETAILS -->
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="contact in contacts" ng-click="loadDetails(contact)">
            <td data-source="">
              <label class="i-checks" style="margin-bottom: 0">
                <input type="checkbox" ng-model="contact.checked"><i></i>
              </label>
            </td>
            <td>{{contact.first_name}}</td>
            <td>{{contact.last_name}}</td>
            <td><span class="label bg-success" title="Active">{{contact.user_type}}</span></td>
            <td>{{contact.rank}}</td>
            <td>{{contact.lead_source}}</td>
            <td>{{contact.date_created}}</td>
            <td>
              <div class="row">

                <!-- Contact Details -->

                <div class="col-xs-2 col-lg-1">
                  <img src="img/a0.jpg" class="img-responsive"/>
                </div>
                <div class="col-xs-10 col-lg-11">
                  <div class="row" style="margin-left: -40px">
                    <div class="col-xs-6">
                      <div class="col-xs-4 col-md-3 col-lg-2">Location:</div>
                      <div class="col-xs-8 col-md-9 col-lg-10">Moncton, NB</div>

                      <div class="col-xs-4 col-md-3 col-lg-2">Phone:</div>
                      <div class="col-xs-8 col-md-9 col-lg-10">778-908-3037</div>

                      <div class="col-xs-4 col-md-3 col-lg-2">Email:</div>
                      <div class="col-xs-8 col-md-9 col-lg-10">tyson@kiweb.ca</div>


                    </div>
                    <div class="col-xs-6">

                    </div>
                  </div>
                </div>


              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr class="hide-if-no-paging">
            <td colspan="8" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
          <tr>
            <td colspan="8">

              <div class="pull-left" style="padding: 5px 10px 5px 0">
                With selected: &nbsp;
              </div>

              <div class="btn-group dropdown dropup">
                <button class="btn btn-default btn-sm" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="">Send to PhoneBurner</a></li>
                  <li><a href="">Send Email</a></li>
                </ul>
              </div>

              <div class="btn-group dropdown dropup">
                <button class="btn btn-default btn-sm" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">Assign to Workflow <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="">PC Workflow</a></li>
                  <li><a href="">BP Workflow</a></li>
                </ul>
              </div>

            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>