<div ng-controller="WorkflowBpCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Brand Partner Workflow</h1>
  </div>

  <div class="wrapper-md">
    <div class="row">
      <div class="col-xs-12">
        <p>{{hello}}</p>
      </div>
    </div>
  </div>
</div>