<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Navigation</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.contacts">
      <i class="icon-users icon text-info-dker"></i>
      <span class="font-bold">Contact Manager</span>
    </a>
  </li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon text-info-dker"></i>
      <span class="font-bold">Workflows</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.workflow.pc">
          <i class="icon-user icon text-info"></i>
          <span>PC Workflow</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.workflow.bp">
          <i class="icon-user icon text-primary"></i>
          <span>BP Workflow</span>
        </a>
      </li>
    </ul>
  </li>
</ul>
<!-- / list -->